@font-face {
    font-family: "Heading";
    src: url("/fonts/heading.otf") format("opentype");
}

@font-face {
    font-family: "normal";
    src: url("/fonts/normal.otf") format("opentype");
}

body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    font-family: "Heading", Helvetica, sans-serif;
    overflow: hidden;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#app {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
}

.spritePosition {
    margin: 10px 0 0 10px;
    font-size: 0.8em;
}

canvas{
   position: "fixed";
   top: 0;
   left: 0;
}
